<div class="container px-4 py-5 mx-auto">
            <div class="card card0">
                <div class="d-flex flex-lg-row flex-column-reverse">
                    <div class="card card1">
                        <div class="row justify-content-center my-auto">
                            <div class="col-md-8 col-10 my-4">
                                <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://static.wixstatic.com/media/7791a1_36be7fe5486e47e88e62e0bd35ccbec1~mv2.png/v1/fill/w_130,h_59,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/7791a1_36be7fe5486e47e88e62e0bd35ccbec1~mv2.png" > </div>
                                <form id="form_login_corp">
                                    <h3 class="mb-5 text-center heading">Corporación San Isidro</h3>
                                    <h6 class="msg-info">Ingrese su usuario y contraseña</h6>
                                    <div class="form-group"> <label class="form-control-label text-muted">Usuario</label> <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario" class="form-control"> </div>
                                    <div class="form-group"> <label class="form-control-label text-muted">Contraseña</label> <input type="password" id="psw" name="psw" placeholder="Ingrese su contraseña" class="form-control"> </div>
                                    <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color"  id="btnSubmit" type="submit">Ingrese</button> </div>
                                </form>
                            </div>
                        </div>
                  
                    </div>
                    <div class="card card2">
                      
                       
                    </div>
                </div>
            </div>
</div>
   