<!-- Navigation -->
<div id="contenPage">

	
	<nav class="navbar principal navbar-light bg-body-tertiary">
		<div class="container-fluid">
		  <a class="navbar-brand">
			  <img
			  src="https://static.wixstatic.com/media/7791a1_ee9f4784ea77485793e4bfa435008686~mv2.png/v1/fill/w_55,h_74,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo%20csi.png"
			  height="40"
			  alt=""
			  loading="lazy"
			/>
			Corporación San Isidro</a>
		  <div class="d-flex align-items-center">
			<!-- Icon -->
			<a class="link me-3" href="#">
			  <i class="fas fa-user fa-lg"></i> Mario Insuasty
			</a>
			   <a class="link me-3" href="#">
			  <i class="fas fa-arrow-right-from-bracket" ></i> Salir
			</a>
		  </div>
		</div>
	  </nav>
		
		<div class="content-wrapper" style="margin-left: 0px;">
			<div class="container">
	  		  <div class='row p-3' id='cardModules'>
	  		  	<div class="w-100 card shadow-card">
				  <div class="card-body" >
				    <div class="row row-cols-1 row-cols-md-3 gap-0 bodyCard text-center text-lg-left d-flex justify-content-center">
					</div>
				  </div>
				</div>
	  		  </div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			
		</footer>
	
</div>
