<div class="modal fade bd-example-modal-lg" id="ModalNotify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id= "modalCreate" role="document">
    <div class="modal-content">

      <div class="modal-header" style='background-color:#E6E6E6'>
        <div id="headTag">
          <div class="row modal-title" id="tittleContent">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <h5 id="titleModalNot"></h5>
            </div>
          </div>
        </div>
      </div>
      <form id="form2" autocomplete="off">
        <div class="modal-body" style='background-color:#EFFBFB'>
          <div id="bodyTagNot">
            <div class="container animated zoomIn">
              <div class="row p-2" id="section_one">
                <div class="col-md-6 part_one"></div>
                <div class="col-md-6 part_two"></div>
              </div>
              <div class="row p-2" id="section_two">
                <div class="col-md-6 part_three"></div>
                <div class="col-md-6 part_four"></div>
              </div>
              <div class="row p-2" id="section_three">
                <div class="col-md-6 part_five"></div>
                <div class="col-md-6 part_six"></div>
              </div>
              <div class="row p-2" id="section_four">
                <div class="col-md-6 part_seven"></div>
                <div class="col-md-6 part_eight"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              
              <div class="col d-none" id="buttons_action_large">
                <button style="float: right;" type="submit" id="btnModalLarge" class="btn btn-info btn-sm "> Enviar 
                  <i class="fa fa-floppy-o" aria-hidden="true">
                  </i>
                </button>
              </div>
            </div>
            <div class="col-8">
            </div>
          </div>
        </div>
        <div class="modal-footer" style='background-color:#E6E6E6'>

        </div>
      </form>
    </div>
  </div>
</div>