.content-wrapper {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: url("../../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  /* display: flex;
  flex-wrap: wrap; */
}

  
  /* Layout */
  
  #container {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
  }
  
  #main {
    padding: 4% 1.5em;
    max-width: 55em;
    margin: 0 auto;
  }
  
  #header {
    padding: 1.5em;
    margin: 0 0 1em 0;
    background-color: #ffffff;
  }
  
  #footer {
    padding: 1.5em;
    margin: 2em 0 0 0;
    background-color: #eee;
  
  }
  
  .table {
    background-color: transparent; /* Establece el fondo de la tabla como transparente */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%;
  }
  
  /* Menu Styles */
  .imagenFull {
    background-image: url("https://img.freepik.com/vector-gratis/fondo-blanco-abstracto_23-2148810888.jpg?w=1380&t=st=1701876305~exp=1701876905~hmac=82f30027d5f1c03318bd5a13057aa0b7e04555bea5962316ca1d23151b5f2da9");
    width: 100%;
    height: 100%;
  }
  
  .primary-nav {
      position: fixed;
      z-index: 999;
  }
  
  .menu {
      position: relative;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
      
  }
  
  .open-panel {
    border: none;
    background-color:#fff;
    padding: 0;
  }
  
  .hamburger {
      background: #fff;
      position: relative;
      display: block;
      text-align: center;
      padding: 13px 0;
      width: 50px;
    height: 73px;
      left: 0;
      top: 0;
      z-index: 1000;
    cursor: pointer;
  }
  
  .hamburger:before {
      content:"\2630"; /* hamburger icon */
      display: block;
    color: #000;
    line-height: 32px;
    font-size: 16px;
  }
  
  .openNav .hamburger:before {
      content:"\2715"; /* close icon */
      display: block;
    color: #000;
    line-height: 32px;
    font-size: 16px;
  }
  
  .hamburger:hover:before {
    color: #777;
  }
  
  .primary-nav .menu li {
      position: relative;
  }
  
  .menu .icon {
      position: absolute;
      top: 12px;
      right: 10px;
      pointer-events: none;
    width: 24px;
    height: 24px;
    color: #fff;
  }
  
  .menu,
  .menu a,
  .menu a:visited {
    color: #aaa;
    text-decoration: none!important;
      position: relative;
  }
  
  .menu a {
    display: block;
    white-space: nowrap;
    padding: 1em;
    font-size: 14px;
  }
  
  .menu a:hover {
      color: #fff;
  }
  
  .menu {
      margin-bottom: 3em;
  }
  
  .menu-dropdown li .icon {
      color: #777;
  }
  
  .menu-dropdown li:hover .icon {
      color: #fff;
  }
  
  
  
  .menu label {
    margin-bottom: 0;
    display: block;
  }
  
  .menu label:hover {
    cursor: pointer;
  }
  
  .menu input[type="checkbox"] {
    display: none;
  }
  
  input#menu[type="checkbox"] {
    display: none;
  }
  
  .tableNew {
    border-collapse: collapse;
    border: none; /* Esto elimina todos los bordes de la tabla */
}

 .td, th {
    border: none; /* Esto elimina los bordes de las celdas */
    padding: 8px; /* Añade un poco de espacio entre el contenido y el borde invisible */
 }
  
  
  
  
  
  .sub-menu-dropdown {
      display: none;
  }
  
  .new-wrapper {
      position: absolute;
      left: 50px;
      width: calc(100% - 50px);
      transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  #menu:checked + ul.menu-dropdown {
      
          left: 0;
      -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
              animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .sub-menu-checkbox:checked + ul.sub-menu-dropdown {
      display: block!important;
      -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
              animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  
  .openNav .new-wrapper {
    position: absolute;
    transform: translate3d(200px, 0, 0);
    width: calc(100% - 250px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  
  .downarrow {
    background: transparent;
      position: absolute;
      right: 50px;
      top: 12px;
    color: #777;
    width: 24px;
    height: 24px;
    text-align: center;
    display: block;
  }
  
  .downarrow:hover {
    color: #fff;
  }
  
  .menu {
      position: absolute;
      display: block;
      left: -200px;
    top: 0;
      width: 250px;
    transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: #152a8b;
      z-index: 999;
  }
  
  .menu-dropdown {
    top: 0;
    overflow-y: auto;
  }
  
  .overflow-container {
    position: relative;
    height: calc(100vh - 73px)!important;
    overflow-y: auto;
    border-top: 73px solid #fff;
    z-index: -1;
    display:block;
  }
  
  .menu a.logotype {
    position: absolute!important;
    left: 55px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    font-size: 21px;
    padding: 10px;
  }
  
  .menu a.logotype span {
    font-weight: 400;
  }
  
  .menu a.logotype:hover {
    color: #777;
  }
  
  .sub-menu-dropdown {
      background-color: #2d3759;
  }
  
  .menu:hover {
      position: absolute;
      left: 0;
      top: 0;
  }

  .btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #0621C7, #241bc4);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    text-align: center;
    width: 25%;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #d9defa, #0621C7)
}

.table-hover tbody tr:hover {
  background-color: #3498db2a; /* Cambia este color al azul que desees */
}
  
  /* .openNav .menu:hover {
      position: absolute;
      left: -200px;
      top 73px;
  }
  
  .openNav .menu {
    top 73px;
          transform: translate3d(200px, 0, 0);
      transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
      
      /* label.hamburger {
          display: none;
      } */
  
  
   */

   /* apartado de carpetas */
  body {
    font-family: Arial, sans-serif;
  }
  .buscador {
  width: 300px;
  }
  .folders img {
  width: auto; 
  margin: 20px; 
  margin-top: 0px;
  }
  
  @media (max-width: 767px) {
  .folders img {
    width: 100%;
  }
  }
  .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  }
  .card {
  margin: 5px;

  }
  .centrado {
    text-align: center;
    vertical-align: middle;
    height: 100px
  }
  
  /* .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #0f67ff;
  } */

  .pendiente {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#ff7a33;
  }

  .aprobado {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#56f084;
  }

  .posicion {
    position: relative;
    display: inline-block;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    display: grid;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-blanco-abstracto_23-2148810888.jpg?w=1380&t=st=1701878450~exp=1701879050~hmac=2085e944232df2d9eec4e28f3cfa4f97a666f034ecaedeb3e3ff6bde4cc02e2c");
  }
  
  .card-title {
  margin-top: 10px;
  font-weight: bold;
  }
  img.mediana{
    width: 100px;
    height: 100px;
    justify-content: center;
    margin: 10px;
    
  }
  
  .media-container {
    display: flex;
    align-items: center;
  }
  
  .mediana {
    margin-right: 50px;
  }

  .body {
    background-color: yellow;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .card1 {
    width: 50%;
    padding: 10px 30px 10px 30px
 }

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #E3ECFF,#08179E);  
    background-size: cover;
    background-position: center;
    width: 50%;
    height:100%;
    text-align: center;
    vertical-align: middle; 
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px
}

.circulo_morado {
  height: 40px;
  width:124px;
  text-align:center;
  border-radius: 60px;
  background: #efc714;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#logo {
  width: 250px;
  height: 100px
}

  /* look and feel only, not needed for core menu*/
  
  @-webkit-keyframes grow {
      
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
      
  }
  
  @keyframes grow {
      
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1
    }
      
  }
  
  /* Text meant only for screen readers. */
  
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
  }
  
  
  /* Resposive Typography */
  
  
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
      color: #000;
      font-size: 1em;
      line-height: 1.5;
      font-weight: 300;
  }
  
  h1, h2, h3, h4, h5, h6 {
      clear: both;
    font-weight: 800;
  }
  
  dfn, cite, em, i {
      font-style: italic;
  }
  
  blockquote {
      margin: 0 1.5em;
  }
  
  address {
      margin: 0 0 1.5em;
  }
  
  pre {
      background: #eee;
      font-family: "Courier 10 Pitch", Courier, monospace;
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1.6em;
  }
  
  code, kbd, tt, var {
      font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
      font-size: 15px;
      font-size: 0.9375rem;
  }
  
  abbr, acronym {
      border-bottom: 1px dotted #666;
      cursor: help;
  }
  
  mark, ins {
      background: #fff9c0;
      text-decoration: none;
  }
  
  big {
      font-size: 125%;
  }
  
  .light {
      color:#ddd;
  }
  
  strong {
      font-weight: 600;
  }
  
  cite,
  em,
  i {
      font-style: italic;
  }
  
  p.big {
      font-size: 140%;
      line-height: 1.3em;
  }
  
  p.small {
      font-size: 80%;
      }
  
  blockquote {
      display:block;
      margin: 1em 20px;
      padding: 0 1em;
      position:relative;
  }
  
  blockquote:before {
  
  }
  
  blockquote cite,
  blockquote em,
  blockquote i {
      font-style: italic;
  }
  
  abbr,
  acronym {
      border-bottom: 1px dotted #666;
      cursor: help;
  }
  
  sup,
  sub {
      height: 0;
      line-height: 1;
      vertical-align: baseline;
      position: relative;
  }
  
  sup {
      bottom: 1ex;
  }
  
  sub {
      top: .5ex;
  }
  
  
  p {
      font-size: 1em;
      margin: 0 0 2em 0;
  }
  
  article:last-of-type, p:last-of-type {
      margin-bottom: 0;
  }
  
  p.intro {
      font-size:1.25em;
      line-height: 1.5;
      font-weight:300;
       margin: 0 0 1.5em 0;
  }
  
  h1, h2 {
      letter-spacing: -1px;
  }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin: 0 0 0.5em 0;
    line-height: 1.1;
  }
  
  h1, .h1 {font-size: 2.074em;}
  
  h2, .h2 {font-size: 1.728em;}
  
  h3, .h3 {font-size: 1.44em;}
  
  h4, .h4 {font-size: 1.2em;}
  
  
  
  /* Medium Screen Typography - Scale: 1.333 Perfect Fourth (thanks http://type-scale.com/)  */
  
  @media screen and (min-width: 42em) {
  
      h1, .h1 { letter-spacing: -2px; }
  
      h1, .h1 {font-size: 3.157em;}
  
      h2, .h2 {font-size: 2.369em;}
  
      h3, .h3 {font-size: 1.777em;}
  
      h4, .h4 {font-size: 1.333em;}
  
      p { font-size:1.0625em; }
  
      p.intro { font-size:1.3em; }
  
  }
  
  
  /* Large Screen Typography  - Scale: 1.414 Augmented Fourth (thanks http://type-scale.com/)  */
  
  @media screen and (min-width: 72em) {
  
      h1 { letter-spacing: -3px; }
  
      h1, .h1 { margin-bottom: 0.35em; font-size: 3.998em; }
  
      h2, .h2  { font-size: 2.827em; }
  
      h3, .h3 { font-size: 1.999em; }
  
      h4, .h4 { font-size: 1.414em; }
  
      p { font-size:1.125em; }
  
      p.intro { font-size:1.4em; }
  
  }



  /* FORMS  */

  .Redondo{
    width:auto;
    margin: 5px;
    padding: 10px;
    text-align:center !important;
    border-radius: 60px;
    background: #303689;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    color: white;
  }

  .Redondo_amarillo{
    width:auto;
    margin: 5px;
    padding: 10px;
    text-align:center !important;
    border-radius: 60px;
    background: #f5dd4f;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    color: rgb(0, 0, 0);
  }

  tr.bgColor {
    background-color:  #007bff !important;
    border-radius: 50px !important;
    color: white;
  }

  .form-check-input {
    background-color: #ec3b3b; /* Color de fondo cuando no está activo */
    border: 1px solid #ffffff; /* Borde cuando no está activo */
  }

  /* Estilo cuando el checkbox está activo */
  .form-check-input:checked {
    background-color: #61ec61; /* Color de fondo cuando está activo */
    border: 1px solid #ffffff; /* Borde cuando está activo */
  }

  #backgroundContainer.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

/* Estilo para la barra de desplazamiento en navegadores webkit (Chrome, Safari) */
.table-responsive::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra */
  height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #303689; /* Color del pulgar (barra) */
  border-radius: 10px;
  height: 2px;
}

/* Estilo para la barra de desplazamiento en navegadores Firefox */
.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: #d1d1d1 transparent;
}

/* Estilo general para la barra de desplazamiento */
.table-responsive {
  overflow-y: scroll; /* Asegura que la barra de desplazamiento solo aparezca cuando sea necesario */
}

.card {
  position: relative;
}



/* Otros estilos para la tarjeta, según tus necesidades */
.card {
  /* Agrega aquí tus estilos existentes */
  /* Ejemplo: */
  padding: 20px;
  border: 1px solid #007BFF;
  border-radius: 10px;
}

