
<div>
  <nav class="navbar principal navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #303689; font-family: Arial, Helvetica, sans-serif;">
          <img
          src="../images/logo_amarrillo.png"
          height="80"
          alt=""
          loading="lazy"
        />
        <b>&nbsp;&nbsp;&nbsp;Corporación San Isidro</b></a>
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="link me-3" href="#" style="color: #303689; font-family: Arial, Helvetica, sans-serif;">
          <i class="fas fa-user fa-lg" style="color: #303689;"></i> Mario Insuasty
        </a>
          <a class="link me-3" href="#" style="color: #303689; font-family: Arial, Helvetica, sans-serif;">
          <i class="fas fa-arrow-right-from-bracket" style="color: #303689;" ></i> Salir
        </a>
      </div>
    </div>
  </nav>
  <nav class="navbar-primary">
    <a href="#" class="btn-expand-collapse"><i class="fas fa-angle-left fa-lg"></i></a>
    <ul class="navbar-primary-menu">
      <li>
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="glyphicon glyphicon-list-alt"> <i class="fas fa-id-card"></i></span> 
          <span class="nav-label">Registros</span></a> 
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li class="nav-item d-none" id="li-1">
                  <a href="#" class="nav-link item" id="regconsec">
                    <span class="nav-link-text">Consecutivo</span>
                  </a>
                </li>
              <li class="nav-item d-none" id="li-2">
                  <a href="#" class="nav-link item" id="reg_form">
                    <span class="nav-link-text">Formulario</span>
                  </a>
                </li>
                <li class="nav-item d-none" id="li-3">
                  <a href="#" class="nav-link item" id="toma_foto">
                    <span class="nav-link-text">Tomar foto</span>
                  </a>
                </li>
          </ul>
      </li>
    </ul>
  </nav>
   <div class="content-wrapper">
    <div  id="content">
</div>

  <!-- <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright &copy; Your Website 2024</small>
      </div>
    </div>
  </footer> -->

    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary btn-expand-collapse" href="login.html">Logout</a>
        </div> -->
      </div>
    </div>
  </div>

  <div id="modalView"></div>
  
  <div id="modalLargeView"></div>
<div>