div class="primary-nav">
    <button href="#" class="hamburger open-panel nav-toggle">
     <span class="screen-reader-text">Menu</span>
    </button>

    <nav role="navigation" class="menu">

      <a href="#" class="logotype"><span>Corporacion <br> San Isidrio</span></a>

      <div class="overflow-container">

        <ul class="menu-dropdown">

        

          <li class="menu-hasdropdown">
            <a href="#">Registros</a><span class="icon"><i class="fa fa-regular fa-address-card" style="color: #3e6ec1;"></i></i></span>

            <label title="toggle menu" for="settings">
          <span class="downarrow"><i class="fa fa-caret-down"></i></span>
        </label>
            <input type="checkbox" class="sub-menu-checkbox" id="settings" />

            <ul class="sub-menu-dropdown">
              <li class="nav-item d-none" id="li-1">
                <a href="#" class="nav-link item" id="regconsec">
                  <span class="nav-link-text">Consecutivo</span>
                </a>
              </li>
              <li class="nav-item d-none" id="li-2">
                <a href="#" class="nav-link item" id="reg_form">
                  <span class="nav-link-text">Formulario</span>
                </a>
              </li>
              <li class="nav-item d-none" id="li-3">
                <a href="#" class="nav-link item" id="toma_foto">
                  <span class="nav-link-text">Tomar foto</span>
                </a>
              </li>
            </ul>
          </li>

          

        </ul>

      </div>

    </nav>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright &copy; Your Website 2023</small>
        </div>
      </div>
    </footer>

  </div>

  <div class="new-wrapper">

        <div id="content">

        </div>

  </div>

  
  

  
  <!-- Logout Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="modalView"></div>
  <div id="modalLargeView"></div>











































