<div id="backgroundContainer">
	<div  class="modal fade" id="ModalLargeObs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" id= "modalLargeCreate" role="document">
			<div class="modal-content text-center">
				<div class="modal-header" style='background-color:#ffffff;'>
					<div id="headTag">
						<div class="row modal-title" id="tittleContent">
							<div style="justify-items: center;">
								<img src="../images/logo2.png" alt="Familia Corporacion San Isidro">
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<h5 id="titleModalLarge" style="text-align: center;"></h5>
							</div>
						</div>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" id="btnrefresh_1" aria-label="Close"></button>
				</div>
					<div class="modal-body" style='background-color:#ffffff'>
						<div id="bodyTagLarge" ></div>
					</div>
					<div class="modal-footer" id="modalFooter" style='background-color:#ffffff'>
						<div id="select_container"></div>
						<div id="select_containerTwo"></div>
						<div>
							<span id="errorModalLarge" class="animated infinite flash text-center"></span>
							<div id="buttons_action_large">
								<button type="submit" id="btnModalLarge" class="btn btn-primary btn-sm" disabled="disabled"></button>
							</div>
						</div>
						<div>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  id="btnrefresh" >Salir</button>
						</div>
					</div>
				
			</div>
		</div>
	</div>
</div>
