  <div id="view-table" class="d-none card shadow">
    <div id="mi-table"></div>
  </div>
  <div id="tabla_registro" class="container-fluid card shadow mb-4">
          <!-- Page Heading -->
          <h1 class="h1 mb-2 text-black text-center margin-26" style="margin-top: 39px;">Registro Familias</h1>      
          <td style='text-align: center; vertical-align: middle; height: 100px;'>
          </td>  
          <table style="background-color: transparent; width: 100%;">
            <tr style='text-align: center; vertical-align: middle; height: 50px;'>
              <td style='text-align: center; vertical-align: middle; height: 50px;'>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <div style="width: 18px; height: 18px; border-radius: 50%; background-color: #007bff; margin-right: 10px;"></div>
                  <span style="text-align: center;">Abierto</span>
                </div>
              </td>
              <td style='text-align: center; vertical-align: middle; height: 100px;'>
                <div style="display: flex; align-items: center;justify-content: center;">
                  <div style="width: 18px; height: 18px; border-radius: 50%; background-color: #ff7a33; margin-right: 10px;"></div>
                  <span>Pendiente</span>
                </div>
              </td>
              <td style='text-align: center; vertical-align: middle; height: 100px;'>
                <div style="display: flex; align-items: center;justify-content: center;">
                  <div style="width: 18px; height: 18px; border-radius: 50%; background-color: #56f084; margin-right: 10px;"></div>
                  <span>Aprobado</span>
                </div>
              </td>
            </tr>
          </table>
          <!-- DataTales Example -->
          <div style="width:auto;height:650px;overflow:auto">
            <div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-hover" id="dataTable2" width="100%" cellspacing="0">
                          <thead class="sticky-header" id="menu-fijo">
                              <tr>
                                  <th style="text-align: center;">Consecutivo</th>
                                  <th style="text-align: center;">Nombre</th>
                                  <th style="text-align: center;">Apellido</th>
                                  <th style="text-align: center;">Documento</th>
                                  <th style="text-align: center;background-color: #a4bdfd;">SF.F.3A</th>
                                  <th style="text-align: center;background-color: #a4bdfd;">SF.F.3B</th>
                                  <th style="text-align: center;background-color: #a4bdfd;">SF.F.3C</th>
                                  <th style="text-align: center;"><b>Resumen</b></th>
                                  <th style="text-align: center;background-color:#dcd4ff;">SF.F.4.1</th>
                                  <th style="text-align: center;background-color:#dcd4ff;">SF.F.4.1A</th>
                                  <th style="text-align: center;background-color:#dcd4ff;">SF.F.4.2</th>
                                  <th style="text-align: center;background-color:#dcd4ff;">SF.F.4.2A</th>
                                  <th style="text-align: center;"><b>Resumen</b></th>
                              </tr>    
                          </thead>
                            <tbody id="tablaStudent">
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
    </div>

